@CHARSET "UTF-8";

.footer * {
    clear:left;
    padding: 0;
    margin: 0;
    font-family: 'Colonna MT';
}

#footer_wrapper {
    position: relative;
    width: 800px;
    height: 100px;
    background-color: white;
    padding-top: 10px;
}

.footer h3 {
    font-size: 12pt;
    color: #767676;
}

.footer ul {
    list-style: none;
    text-align: center;
    color: #a9a9a9;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt
}


.footer ul li{
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.footer #meet {
    position: absolute;
    width: 33%;
    height: 100%;
    text-align: center;
}

.footer #help {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 33%;
    text-align: center;
}

.footer #information {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 66%;
    text-align: center;
}

.footer #copyright {
    position: absolute;
    height: 10%;
    top: 90%;
    margin-left: 3%;
}