@CHARSET "UTF-8";

@font-face {
    font-family: 'Colonna MT';
    font-style: normal;
    font-weight: 400;
    src: local('Colonna MT'), local('ColonnaMT-Regular'),
        url(http://allfont.net/cache/fonts/colonna-mt_bd7e6ccb11119765db53df3d3b5f53d1.woff)
        format('woff'),
        url(http://allfont.net/cache/fonts/colonna-mt_bd7e6ccb11119765db53df3d3b5f53d1.ttf)
        format('truetype');
}

*{
    letter-spacing: 1pt;
}

.header *{
    padding: 0;
    margin: 0;
    font-family: 'Colonna MT';
}

.header img {
    max-width: 50%;
    max-height: 50%;
}

#header_wrapper{
    position: relative;
    display: inline-block;
    width: 800px;
    height: 100px;
    background-color: white;
}

#logo{
    position: absolute;
   left:10px;
   top:10px;
}

#account {
    position: absolute;
    top:15px;
    right:5px;
}

#signin {    
    display: none;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 7px;
}

#user{
    float: left;
}

#header_menu_nav{
   display:block;
   position: absolute;
   width:600px;
   right:20px;
   bottom: 10px;
   font-size:  13pt;
   text-align: right;
   color: #767676;
}

#header_menu_nav ul{
    list-style: none;
    display: inline-block;
}

#header_menu_nav li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
