@CHARSET "UTF-8";

.introduce *{
    padding: 0;
    margin: 0;
    font-family: 'Colonna MT';
    vertical-align:middle;
}

.introduce_font2 {
    font-family: '맑은 고딕';
}


#introduce_wrapper{
    position: relative;
    width:  800px;
}

.introduce h1{
    position:relative;
    text-align: center;
    font-size: 30pt;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#introduce_sub{
    position:relative;
     font-size: 22pt;
     text-align: center;
}

 #introduce_sub_title{
 display: inline-block;
    width: 350px;
    text-align: center;
    padding-bottom: 5px;
}

 #introduce_sub_title div{
 font-size:12pt;
}

#introduce_member{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}

#introduce_member h3{
         font-size: 22pt;
     text-align: center;
    margin-bottom: 10px;
}

.member{
    display: inline-block;
    width: 230px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.member_photo{
    margin: auto;
    margin-top: 15px;
    width: 150px;
    height: 150px;
    background-color: #767676;
}

.member_photo img{
    max-width:150px;
    max-height: 150px;
}


.member_name{
    padding-top: 15px;
    padding-bottom: 15px;
    
}