@CHARSET "UTF-8";

html, body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}



#main{
    position: relative;
    width: 100%;
    height: 100%;
}

#header{
    position: fixed;
    width: 100%;
    height: 100%;
}

#footer{
    position: relative;
    width: 100%;
    height: 100%;
}


#main_rank_wrapper{
    position: relative;
    width: 100%;
    height: 70%;
    text-align: center;
    background-color: #494949;
    color: white;
}

#main_rank_wrapper  #rank_title
{
   font-size:xx-large;
    font-style: italic;
}

#rank_left_move{
    position:absolute;
    width: auto;
    height: auto;
    top:50%;
    left:5%;

}

#rank_right_move{
    position:absolute;
width: auto;
    height: auto;
    top: 50%;
    right: 5%;

}

#main_rank{
    position:relative;
    width: 100%;
    height: 90%;

}

#main_rank_info{
     position:absolute;
    width: 30%;
    height: 60%;
    top: 30%;
    right: 15%;
    font-style: italic;
}

#rank_info_title{
    font-size: x-large;
}

#rank_info_maker{
    font-size: large;
    text-align: right;
}

#rank_info_grade_wrapper{
    position:absolute;
    width: 100%;
    height: 50%;
    top:30%;
}

#rank_info_grade_wrapper ul{
    list-style: none;
    display: inline;
    width: 100%;
    height: 100%;
}

#rank_info_grade_wrapper li{
    margin-left: 8%;
    width:25%;
    height:50%;
    float: left;
}

#rank_info_grade_wrapper div{
    width: auto;
    height: auto;
}

#main_content_wrapper{
    position:relative;
    width: 100%;
    height: 70%;
    text-align: center;
    background-color: #e8e8e8;
}

#main_content_wrapper table{
    position: relative;
    width: 90%;
    height: 70%;
    margin: auto;
    top: 5%;
}


#main_content_wrapper #content{
    position:relative;
    width: 85%;
    height: 100%;
    padding: 5% 5% 5% 5% ;
}

#content div{
    position: absolute;
    font-style: italic;
}

#content_image{
       
    width: 90%;
    height: 65%;
    background-color: white;
}

#content_title{
    width: auto;
    height: auto;
    top: 70%;
    font-size: large;
    
    
    
}

#content_grade{
    
    width: auto;
    height: auto;
    top: 70%;
    right: 5%;
    
}

#content_day{
     width: auto;
    height: auto;
    top: 80%;
    font-size: medium;
    
    
}







