.clsBannerScreen {
    overflow: hidden;
    position: relative;
    height: 187px;;
    width: 300px;;
    cursor: pointer;
    clear: both;
      top: 30px;
    left: 80px;
    outline: 1px solide red;
  
}

   
.clsBannerScreen .images {
    position:absolute;
     display:none; }
     
